<h2>Related Projects And Tools</h2>

CRS doesn't exist in a vacuum. Most importantly, we work closely with WAF engines that run CRS:
<ul>
  <li><a href="https://github.com/owasp-modsecurity/ModSecurity">ModSecurity</a></li>
  <li><a href="https://github.com/corazawaf/coraza">Coraza</a></li>
</ul>

There are also a couple of tools that exist in the CRS universe. Some we use for development, others are useful for CRS users or penetration testers.
We maintain a list of these tools <a href="/docs/6-development/6-6-useful_tools">in the documentation</a>.

