name: test syntax

on:
  # Runs on pull requests targeting the default branch
  pull_request:
    branches: [main]

# Sets permissions of the GITHUB_TOKEN
permissions:
  contents: read
  issues: write

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  # Build job
  syntax-check:
    runs-on: ubuntu-latest
    env:
      # renovate: datasource=github-releases depName=gohugoio/hugo
      HUGO_VERSION: 0.155.3
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb
      - name: Install Dart Sass
        run: sudo snap install dart-sass

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: recursive

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5

      - name: Install Node.js dependencies
        run: "[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true"

      - name: Build with Hugo
        env:
          # For maximum backward compatibility with Hugo modules
          HUGO_ENVIRONMENT: testing
          HUGO_ENV: testing
        run: |
          hugo --gc --minify --baseURL "${{ steps.pages.outputs.base_url }}/"
          hugo -s subsite/docs --baseURL "${{ steps.pages.outputs.base_url }}/docs/"
          mv subsite/docs/public public/docs
          npx -y pagefind --site public

      - name: Restore lychee cache
        id: restore-cache
        uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
            path: .lycheecache
            key: cache-lychee-${{ github.sha }}
            restore-keys: cache-lychee-

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
            fail: false
            args: "--accept 200..=204,429 --cookie-jar /tmp/lychee-cookies --cache --max-cache-age 1d -E './content/**/*.md'"
            jobSummary: true

      - name: Create Issue From File
        if: env.lychee_exit_code != 0
        uses: peter-evans/create-issue-from-file@fca9117c27cdc29c6c4db3b86c48e4115a786710 # v6
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue

      - name: Save lychee cache
        uses: actions/cache/save@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        if: always()
        with:
          path: .lycheecache
          key: ${{ steps.restore-cache.outputs.cache-primary-key }}

